@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-image: url("/src/assets/bg.jpg");
  background-color: #47C6B7;
}

::-webkit-scrollbar {
  width: 8px;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 2px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f7fd;
  border-radius: 32px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EE5876;
  border-radius: 32px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text1{
  text-shadow: 5px 5px rgb(255, 155, 5);
}

.text1-mobile{
  text-shadow: 2px 2px rgb(255, 155, 5);
}

.txt-stroke{
  text-shadow:3px 3px #EE5876 ;
}